@import url('https://fonts.googleapis.com/css?family=Buenard|Lato');
* { margin:0; padding:0; box-sizing:border-box; }
h1, h2 {
	text-align: center;
}

#intro {
		font-family:'Buenard', serif;
		font-size: 28px;
		font-weight: bold;
		line-height: 1.5em;
		margin: 3em;
}
#list {
		font-family:'Lato', sans-serif;
		font-size: 18px;
		font-weight: lighter;
		line-height: 2em;
		padding-left: 1.25em;
	}
h3 {
		font-family:'Lato', sans-serif;
		font-size: 12px;
		font-weight: lighter;
		line-height: 0.5em;
}

body {
	font-family:'Lato', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.5;
}
nav a {
	color:orange;
	display:inline-block;
	text-decoration:none;
}
form {
	width: 600px;
	margin: auto;
}
input, textarea {
	display:block;
	font: 400 16px 'Lato';
	outline:none;
	margin-bottom:2em;
	padding: 1em;
	width:100%;
}
input[type="submit"] {
    width: 50%;
}
